/* .sidebar2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    
    column-gap: 6px;
    padding: 8px;
    
    overflow: hidden;
    box-sizing: border-box;
} */

.sidebar2 {
}

.sidebar2_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45px;
    row-gap: 8px;
    padding: 8px;

    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    
    overflow-y: visible;
    overflow-x: visible;
    overflow-x: scroll;
}

.sidebar2 button {
    text-align: start;
}

.sidebar2 .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

.sidebar2 .left .logo_title {
    font-size: 18px;
    color: white;
}

.sidebar2 .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

.sidebar2 .right a {
    color: inherit;
    text-decoration: underline;
    font-size: 12px;
    color: white;
}

.sidebar2 .right .login {
    font-size: 16px;
}

.sidebar2 .notices {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    /* background-color: red; */
    top: 44px;
    right: 4px;
    max-width: 320px;
    max-height: 92vh;
    box-sizing: border-box;
}

.sidebar2 .notices .notice {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
}

/* .sidebar2 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 50px;
    max-width: 100px;
    height: 100vh;
    background-color: rgb(222, 222, 222);
    row-gap: 8px;

    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    
    overflow-y: scroll;
    overflow-x: hidden;
} */