# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/.next

# dependencies
/server/frontend/node_modules
/server/frontend/.pnp
/server/frontend/.pnp.js

# testing
/server/frontend/coverage

# next.js
/frontend/admin/.next
/frontend/lighthouse/_static

/frontend/admin/public/placeholders
/frontend/lighthouse/public/placeholders

# production
/server/frontend/build

# misc
*.DS_Store*
*node_modules*

# debug
/server/frontend/npm-debug.log*
/server/frontend/yarn-debug.log*
/server/frontend/yarn-error.log*

# generated - Rust
/server/target

# local env files
/server/frontend/.env.local
/server/frontend/.env.development.local
/server/frontend/.env.test.local
/server/frontend/.env.production.local
server/.DS_Store
/frontend/admin/_static

/.guard
/frontend/lighthouse/.next
frontend/lighthouse/certificates/localhost-key.pem
