.search_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-image: url("/placeholders/moon-1.jpg"); */
    /* background-image: url("https://images.unsplash.com/photo-1732482124606-697008dab09c?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover; */
    /* background-color: rgba(255, 255, 255, 0.386); */
    /* background-color: rgba(0, 0, 0, 0.597); */
    /* background-color: rgba(0, 0, 0, 0.468);
    background-blend-mode: overlay;
    overflow: hidden;
    background-position: 50%; */
}

/* .search_bar_input {
    width: 600px;
    padding: 14px;
    font-size: 14px;
} */

.search_bar_background {
    position: absolute;
    z-index: -1;
}

.search_bar_container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    margin-top: -45px;
    width: 100%;
}

.search_bar_container .search_bar_input {
    width: 600px;
    max-width: 90%;
    box-sizing: border-box;
    align-self: center;
}

.search_bar_container .logo_div .logo_title {
    font-size: 35px;
    color: white;
}

.search_bar_container .legal {
    font-size: 14px;
}