.bluesky_user_details_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 6px;
    /* padding: 4px; */
    padding: 8px;
    border-radius: 4px;
}

.bluesky_user_details_row .profile_pic {
    /* width: 40px;
    height: 40px; */

    width: 45px;
    height: 45px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2px;
}

.bluesky_user_details_row .details .user_stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

.bluesky_user_details_row .details.name {
    font-size: 14px;
    font-weight: bold;
}

/* .bluesky_user_details_row_user_details_name {
    font-size: 16px;
    font-weight: bold;
} */

.bluesky_user_details_row .details .subtext {
    font-size: 12px;
}

.bluesky_user_details_row .details .bio {
    font-size: 12px;
    max-width: 700px;
}

.user_actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

.user_actions button {
    background-color: unset;
    font-size: 12px;
    padding: 6px;
}

.user_actions button img {
    width: 18px;
}