.query_search_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* padding: 8px; */
    /* padding-top: 10px; */

    box-sizing: border-box;
    row-gap: 4px;

    padding: 14px;
    
    /* background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=2944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
}

.query_search_results_outer {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-bottom: 40px;
    /* width: 740px; */
    min-width: 440px;
    max-width: 800px;
    padding: 2px;
}

.query_search_results {
    display: flex;
    flex-direction: column;
    /* padding: 6px; */
    /* margin-top: 10px; */
    /* padding-bottom: 20px; */
    box-sizing: border-box;
}

.query_search_bar_background {
    position: absolute;
    z-index: -1;
}

.query_search_bar_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

.query_search_bar_container .logo_div .logo_title {
    font-size: 20px;
}

.query_search_bar_input {
    width: 600px;
    /* width: 100%; */
    padding: 14px;
    font-size: 14px;
}

.reached_the_end {
    font-family: monospace;
}

.do_you_mean {
    /* font-weight: bold; */
}

.not_happening_mate {
    display: flex;
    flex-direction: column;
}

/* .not_happening_mate .header_image {
    width: 120px;
    height: 120px;
}

.not_happening_mate p {
    width: 260px;
    text-align: center;
} */

.query_profile {
    /* padding: 10px; */
    /* max-width: 450px; */
    max-width: 400px;
    overflow: hidden;
}

.query_profile .information {
    padding: 10px;
}

.query_profile .images img {
    max-height: 200px;
    width: auto;
    object-fit: contain;
    display: block;
}
