.Sidebarbutton {
    /* Remember, this is just the <a> tag, go down to the ".Sidebarbutton button" :) */
    text-decoration: none;
}

.Sidebarbutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    column-gap: 4px;
    font-size: 14px;

    color: white;
    background-color: rgba(0, 0, 0, 0.201);
}

.Sidebarbutton img {
    max-width: 20px;
    max-height: 20px;

    /* max-width: 22px;
    max-height: 22px; */
}